{% extends "layout.html" %} {% block title %} Add {% endblock %} {% block main
    %}
    <form action="/update" method="post">
      <div class="form-group">
        <input
          autocomplete="off"
          autofocus
          class="form-control"
          name="accountname"
          placeholder="Account Name"
          value="{{list[0][2]}}"
          type="text"
          readonly
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          name="password"
          placeholder="Password"
          value="{{list[0][3]}}"
          type="text"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          name="appname"
          placeholder="App Name"
          value="{{list[0][1]}}"
          type="text"
        />
      </div>
      <div class="form-group">
        <input class="form-control" name="url" placeholder="Url" type="text" value="{{list[0][4]}}" />
      </div>
      <button class="btn btn-primary" type="submit" value="update" name="update_needed">Update</button>
    </form>
    {% if message %}      
    <div class="container w-25 mt-2 alert alert-success" role="alert">
      {{message}}
    </div>  
    {% endif %}
    {% endblock %}